/Aula02a/nbproject/private/
/Aula02a/build/
/Aula3a/nbproject/private/
/Aula3a/build/
/Aula3b/nbproject/private/
/Aula3b/build/
/Aula4a/nbproject/private/
/Aula4a/build/
/Aula4b/nbproject/private/
/Aula4b/build/
/Aula5a/nbproject/private/
/Aula5a/build/
/Aula5b/nbproject/private/
/Aula5b/build/
/Aula5c/nbproject/private/
/Aula5c/build/
/Aula5d/nbproject/private/
/Aula5d/build/
