/Aula02a/nbproject/private/
/Aula02a/build/
/Aula3a/nbproject/private/
/Aula3a/build/
/Aula3b/nbproject/private/
/Aula3b/build/
/Aula4a/nbproject/private/
/Aula4a/build/
/Aula4b/nbproject/private/
/Aula4b/build/
/Aula5a/nbproject/private/
/Aula5a/build/
/Aula5b/nbproject/private/
/Aula5b/build/
/Aula5c/nbproject/private/
/Aula5c/build/
/Aula5d/nbproject/private/
/Aula5d/build/
/Aula6a/nbproject/private/
/Aula6a/build/
/Exercicio6a/nbproject/private/
/Exercicio6a/build/
/Aula6b/nbproject/private/
/Aula6b/build/
/Exercicio5a/nbproject/private/
/Exercicio5a/build/
/Aula7a/nbproject/private/
/Aula7a/build/
/Aula7b/nbproject/private/
/Aula7b/build/
/Aula10a/nbproject/private/
/Aula10b/nbproject/private/
/Aula10b/build/
/Aula10c/nbproject/private/
/Aula10d/nbproject/private/
/Aula10d/build/
/Aula8e/nbproject/private/
/Aula8e/build/
/Exerciocio8a/nbproject/private/
/Exerciocio8a/build/
/Aula9a/nbproject/private/
/Aula9a/build/
/Aula9b/nbproject/private/
/Aula9c/nbproject/private/
/Aula9c/build/
/Aula10aa/nbproject/private/
/Aula10aa/build/
/Aula10bb/nbproject/private/
/Aula10bb/build/
/Aula10cc/nbproject/private/
/Aula10cc/build/
/Aula10dd/nbproject/private/
/Aula10dd/build/
/JogoAdivinhacao/nbproject/private/
/JogoAdivinhacao/build/
/Aula19a/nbproject/private/
/Aula19a/build/
/Aula19b/nbproject/private/
/Aula19b/build/
/Aula20a/nbproject/private/
/Aula20a/build/
/Aula20b/nbproject/private/
/Aula20b/build/
/Aula20c/nbproject/private/
/Aula20c/build/
/Exercicio20a/nbproject/private/
/Exercicio20a/build/
/Aula21a/nbproject/private/
/Aula22a/nbproject/private/
/Aula22a/build/
/Aula22b/nbproject/private/
/Aula22b/build/
/Exercicio22a/nbproject/private/
/Exercicio22a/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/Aula24a/nbproject/private/
/Aula24b/nbproject/private/
/Aula24c/nbproject/private/
/Aula24c/build/
/Aula25a/nbproject/private/
/Aula25a/build/
/Aula25b/nbproject/private/
/Aula25b/build/
/Aula25b/dist/
/Aula26a/nbproject/private/
/Aula26a/build/
/Aula27a/nbproject/private/
/Aula27a/build/
